.button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 4px;
  cursor: pointer;
}
.button-disable {
  background-color: #7E7E7E	;
}
.button-small {
  font-size: 12px;
  height: 1rem;
  width: 3rem;
}
.button-large {
  font-size: 16px;
  height: 3rem;
  width: 5rem;
}
