.question-result {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.question-result .question-container {
  display: flex;
  flex-direction: row;
}

.question-result .correct-answer {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 1rem;
  font-size: medium;
  font-weight: bold;
}

@media (max-width: 375px) {
    .question-result {
      font-size: small;
    }
    .question-result .correct-answer {
      font-size: small;
    }
  }

.question-result .result {
  padding-right: 0.5rem;
}
