.title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
  height: 3rem;
  text-align: center;
}

@media (max-width: 375px) {
  .title {
    font-size: x-large;
  }
}
