.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page .description {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-size: large;
}

.home-page .sub-description {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-size: large;
}

.home-page .controllers-container {
  margin-top: 10rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
}

.home-page .error-message {
  bottom: 1rem;
  display: flex;
  justify-content: center;
  color: red;
  height: 1rem;
}
