.quiz-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quiz-page .question {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  height: 10rem;
  font-size: large;
  border: 1px solid;
  padding: 1rem;
}

.quiz-page .question-number {
  font-size: large;
  place-self: center;
  font-weight: bold;
}

.quiz-page .top-controllers-container {
  bottom: 1rem;
  display: flex;
  width: 100%;
}

.quiz-page .top-controllers-container .timer-container {
  width: 90%;
}
.quiz-page .top-controllers-container .button-container {
  width: 10%;
}
.quiz-page .bottom-controllers-container {
  margin-top: 10rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
}
