.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.card {
  background-color: lightgrey;
  width: 500px;
  height: 650px;
  border: 15px solid #4CAF50;
  padding: 20px;
  margin: 20px;
}

@media (max-width: 375px) {
  .card {
    height: 550px;
    margin: 10px;
  }
  
}
