.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 1.5rem;
}
.card {
  background-color: lightgrey;
  width: 300px;
  height: 650px;
  border: 15px solid #4CAF50;
  padding: 20px;
  margin: 20px;
}
